<div class="form-group">
    <label>{{localize "ATDM.ui.slug"}}</label>
    <div class="cell">
        <input class="field-value" name="system.slug" type="text" readonly value="{{system.slug}}" data-dtype="String" />
    </div>
</div>
