<div class="message-content">
    <div class="dnd5e chat-card item-card" data-actor-id="K2e03SxkNIQ4bJzL" data-item-id="EOmsUcFQJTfG2oio" data-spell-level="0">
        <header class="card-header flexrow">
            <img src="icons/magic/fire/projectile-fireball-smoke-orange.webp" title="Fire Bolt" width="36" height="36">
            <h3 class="item-name">Fire Bolt</h3>
        </header>
        <div class="card-content">
            <p>You hurl a mote of fire at a creature or object within range. Make a ranged spell attack against the target.
                On a hit, the target takes 1d10 fire damage. A flammable object hit by this spell ignites if it isn't being worn or carried.</p>
            <p>This spell's damage increases by 1d10 when you reach 5th level (2d10), 11th level (3d10), and 17th level (4d10).</p>
        </div>
        <div class="card-buttons">
            <button data-action="attack">Attack</button>
            <button data-action="damage">Damage</button>
        </div>
        <footer class="card-footer">
            <span>Cantrip</span>
            <span>V, S</span>
            <span>1 Action</span>
            <span>1 Creature</span>
            <span>120 Feet</span>
        </footer>
    </div>
</div>