<li class="chat-message message flexcol" data-message-id="QsfWoCwUFzNpaiPX" style="position: relative;">
    <header class="message-header flexrow">
        <h4 class="message-sender">Gamemaster</h4>
        <span class="message-metadata">
            <time class="message-timestamp">Il y a 18s</time>
            <a class="message-delete"><i class="fas fa-trash"></i></a>
        </span>
    </header>
    <div class="message-content">
        <div class="dice-roll">
            <div class="dice-result">
                <div class="dice-formula">1d20</div>
                <div class="dice-tooltip">
                    <section class="tooltip-part">
                        <div class="dice">
                            <header class="part-header flexrow">
                                <span class="part-formula">1d20</span>

                                <span class="part-total">9</span>
                            </header>
                            <ol class="dice-rolls">
                                <li class="roll die d20">9</li>
                            </ol>
                        </div>
                    </section>
                </div>

                <h4 class="dice-total">9</h4>
            </div>
        </div>

    </div>
</li>